extends ./index.jade
block title
  title Fulfillment FAQs | PatientBank Support

block content
  .faq
    .wrapper
      h2 Fulfillment FAQs

      div.markdown-document
        include:markdown ./markdown/fulfillment_faq.md
